
page-picknotes {

  .item-ios.item-block .item-inner {
    border-bottom-width: 0;
  }

  .content {
    background-color: #fff;
  }

  textarea.text-input {
    min-height: calc(100vh - 145px);
  }

}