page-driverlicense {

    .deleteIcon{
      float: right;
      color: red; 
      margin-right: 10px;
      margin-top: 10px;
      transform: rotate(45deg);
    }
    .deleteIcon:before{
      font-size: 30px !important;
    }
    .releative{
      position: relative
    }

}
