page-driverlicense {

    .deleteIcon{
      float: right;      
      color:#ffffff !important; 
      margin-right: 10px;
      margin-top: 10px;
    }
    .deleteIcon:before{
      font-size: 27px !important;
      color: #999999;
    }
    .releative{
      position: relative
    }

}
