<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>
      Your Settings
    </ion-list-header>
    <button ion-item (click)="openTouchID()">
      <ion-icon item-left name="finger-print" color="danger"></ion-icon>
      <ion-label>TouchID</ion-label>
    </button>
    <ion-item>
      <ion-icon item-left name="ios-flag-outline"></ion-icon>
      <ion-label>Language</ion-label>
      <ion-select (ionChange)="toggleSelect($event)" [(ngModel)]="language">
        <ion-option value="en">English</ion-option>
        <ion-option value="es">Español</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      APP
    </ion-list-header>
    <button ion-item (click)="openAboutPage()">
      <ion-icon item-left name="ios-pin-outline"></ion-icon>
      About
    </button>
    <button ion-item>
      <ion-icon item-left name="code"></ion-icon>
      Version
      <ion-note item-right>
        {{appversion}}
      </ion-note>
    </button>
    <button ion-item (click)="openAboutPage()" *ngIf="showFeature">
      <ion-icon item-left name="ios-bug-outline"></ion-icon>
      Report a bug
    </button>
    <button ion-item (click)="openAboutPage()" *ngIf="showFeature">
      <ion-icon item-left name="ios-bulb-outline"></ion-icon>
      Suggest a feature
    </button>
    <button ion-item (click)="openAboutPage()" *ngIf="showFeature">
      <ion-icon item-left name="ios-heart-outline"></ion-icon>
      Write a review
    </button>
    <button ion-item (click)="openAboutPage()" *ngIf="showFeature">
      <ion-icon item-left name="ios-help-circle-outline"></ion-icon>
      Contact support
    </button>
  </ion-list>
</ion-content>