<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RECENT_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <button ion-item *ngFor="let recent of recentArray" (click)="openItem(recent)">
      <i item-left class="fa {{recent.icon}} cf-fa-circle {{recent.color}}"></i>
      {{ recent.name }}
    </button>
  </ion-list>
  <div class="noitems" *ngIf="noitemsfound">
    <div class="divImageNoItemsFound">
      <ion-icon name="md-alarm"></ion-icon>
    </div>
    <div padding>
      <div class="divNoItemsFound">
        <p innerHTML="{{ 'NO_ITEMS_FOUND_DESCRIPTION' | translate }}"></p>
      </div>
    </div>
  </div>
</ion-content>