<ion-header>
  <ion-navbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()">{{ 'SAVE_TITLE' | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light">
      {{ 'EDIT_PASSWORD_SUBTITLE' | translate }}
    </ion-list-header>
    <div #expandWrapper class='expand-wrapper validation-message' [class.collapsed]="!expanded">
      {{ validationMessage }}
    </div>
    <ion-item class="ml-input">
      <i class="fa fa-university" item-left></i>
      <ion-label floating>{{ 'ACCOUNT_NAME' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.name" (change)="inputChange(account.name)"></ion-input>
      <button ion-button clear item-right (click)="favorite()" class="cf-icon-right" *ngIf="key != 0">
        <i class="fa fa-star-o" [ngClass]="{'fav': isFav}"></i>
      </button>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-clipboard" item-left></i>
      <ion-label floating>{{ 'ACCOUNT_DESCRIPTION' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.description"></ion-input>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-link" item-left></i>
      <ion-label floating>{{ 'ACCOUNT_URL' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.site"></ion-input>
      <button ion-button clear item-right (click)="openSite()" class="cf-icon-right" *ngIf="key != 0">
        <ion-icon name="md-open" class="cf-open"></ion-icon>
      </button>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-barcode" item-left></i>
      <ion-label floating>{{ 'ACCOUNT_NUMBER' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.number"></ion-input>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-user" item-left></i>
      <ion-label floating>{{ 'ACCOUNT_USERNAME' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.username"></ion-input>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-{{lockicon}}" item-left></i>
      <ion-label floating>{{ 'ACCOUNT_PASSWORD' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.password" *ngIf="showpwd"></ion-input>
      <ion-input type="password" [(ngModel)]="account.password" *ngIf="!showpwd"></ion-input>
      <button ion-button clear item-right (click)="showPassword(pwinput)" class="cf-icon-right">
        <ion-icon name="eye" class="cf-eye" *ngIf="account.password != ''"></ion-icon>
      </button>
    </ion-item>
    <button ion-item class="ml-input" (click)="pickNotes()">
      <i class="fa fa-file-text-o" item-left></i>
      <ion-label floating>{{ 'ACCOUNT_NOTES' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.notes" disabled></ion-input>
    </button>
  </ion-list>
</ion-content>
