page-list-master {
  img {
   margin-right: 10px; 
  }
  .cf-card-title {
    font-size: 18px;
    font-weight: normal;
  }
  .card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .item {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .cf-fa-circle {
      padding: 0;
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .cf-fa-circle:before {
      font-size: 23px;
    }
  }
}