<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LIST_PASSWORDS' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item-group *ngFor="let group of groupedAccounts">
      <ion-item-divider sticky>
        <ion-label>
          {{group.letter}}
        </ion-label>
      </ion-item-divider>      
      <ion-item-sliding *ngFor="let account of group.accounts" #slidingItem>
        <button ion-item (click)="openItem(account)">
          <i item-left class="fa {{account.icon}} cf-fa-circle {{account.color}}"></i>
          {{ account.name }}
        </button>        
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(slidingItem, account)">
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>